<div id="content-Modal"  >
    <div id="content-Modal-row" >
           <div class="content-Modal-col" nz-col nzSpan="24" >
            <div class="content-Modal-tabs">
                <button class="content-Modal-tabs-rapide" >Primary Button</button>
                <button class="content-Modal-tabs-grouper" >Primary Button</button>
            </div> 
            <div nz-col nSpan="24">
                <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="log(checkOptionsOne)"></nz-checkbox-group>
            </div>

            <div nz-col nSpan="24">
                <div nz-col nSpan="8">
                    fg
                </div>
                <div nz-col nSpan="8">
hs
                </div>
            </div>

            <div nz-col nSpan="24">
                <div nz-col nSpan="8">
kd
                </div>
                <div nz-col nSpan="8">
jjc
                </div>
                <div nz-col nSpan="8">
is
                </div>
            </div>
    </div>
  </div>