<div id="content-Modal"  (click)="generalservice.showDialog = false">
    <div id="content-Modal-row" >
        <div class="content-Modal-col" nz-col nzSpan="24" >
            <div class="content-Modal-tabs">
                <button class="content-Modal-tabs-rapide" >Envoie Rapide</button>
                <button class="content-Modal-tabs-grouper" >Envoie Grouper</button>
            </div> 
            <div nz-col nzSpan="24">
            <app-envoierapide></app-envoierapide>
            </div>
        </div>
    </div>
</div>