
    <div class="content-body-title" nz-col nzSpan="24">
      <p class="content-body-title-1">Historiques</p>
      <button class="content-body-title-2" nz-button nzType="default"> Transation en attente</button>
    </div>
    <div class="content-body-2-searchs" nz-col nzSpan="24">
      <div  nz-col nzSpan="12">
          <input class="content-body-2-searchs-bar" type="text" nz-input value="Rechercher"/>
      </div>
      <div nz-col nzSpan="6">
        <nz-select id="content-body-2-searchs-bar-1" [nzBorderless]="true" ngModel="Demandes">
          <nz-option nzValue="Demandes1" nzLabel="Demandes1"></nz-option>
          <nz-option nzValue="Demandes" nzLabel="Demandes"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="6">
        <nz-date-picker [nzSize]="size" ></nz-date-picker>
      </div>
    </div>
    <div class="content-body-2-table" nz-col nzSpan="24">  
          <li class="table-header">
            <div nz-col nzSpan="6">Number/Name </div>
            <div nz-col nzSpan="6">Date</div>
            <div nz-col nzSpan="6">Montant</div>
            <div nz-col nzSpan="6">Statue</div>
          </li>
          <li class="table-row">
            <div nz-col nzSpan="6">42235</div>
            <div nz-col nzSpan="6">John Doe</div>
            <div nz-col nzSpan="6">$350</div>
            <div class="table-header-statue" nz-col nzSpan="6"> <button class="bt-enatente" >En attente</button></div>
          </li>
          <li class="table-row">
            <div nz-col nzSpan="6">42235</div>
            <div nz-col nzSpan="6">John Doe</div>
            <div nz-col nzSpan="6">$350</div>
            <div class="table-header-statue" nz-col nzSpan="6"> <button class="bt-enatente" >En attente</button></div>
          </li>
          <li class="table-row">
            <div nz-col nzSpan="6">42235</div>
            <div nz-col nzSpan="6">John Doe</div>
            <div nz-col nzSpan="6">$350</div>
            <div class="table-header-statue" nz-col nzSpan="6"> <button class="bt-enatente" >En attente</button></div>
          </li>
          <li class="table-row">
            <div nz-col nzSpan="6">42235</div>
            <div nz-col nzSpan="6">John Doe</div>
            <div nz-col nzSpan="6">$350</div>
            <div class="table-header-statue" nz-col nzSpan="6"> <button class="bt-enatente" >En attente</button></div>
          </li>
          <li class="table-row">
            <div nz-col nzSpan="6">42235</div>
            <div nz-col nzSpan="6">John Doe</div>
            <div nz-col nzSpan="6">$350</div>
            <div class="table-header-statue" nz-col nzSpan="6"> <button class="bt-enatente" >En attente</button></div>
          </li>
          
    
    </div>
    
