<form action="/action_page.php">

    <div >
        <label class="container"><input type="checkbox" checked="checked"><span class="checkmark">Numéros de téléphone</span></label>
        <label class="container"><input type="checkbox"><span class="checkmark">Sélectionner un formulaire</span></label>
    </div>
    <div class="form-box-input" >
            <select class="form-box-input-reseaux" id="country" name="country">
            <option value="australia">Moov</option>
            <option value="canada">Mtn</option>
            <option value="usa">Celtiis</option>
            </select>
            <input class="form-box-input-numero" type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
    <div class="form-box-input-1" >
        <input class="form-box-input-motif"type="text" id="fname" name="firstname" placeholder="Your name..">
        <input class="form-box-input-montant"type="text" id="lname" name="lastname" placeholder="Your last name..">
        <button type="submit" value="Submit">Valider la transation<span class="span"><svg width="22" height="9" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.613 11.1219L31.0461 5.56097L25.613 0L24.5155 1.12332L28.0749 4.76655H0V6.3554H28.0749L24.5155 9.99863L25.613 11.1219Z" fill="white"/>
            </svg></span></button>
        
    </div>
 </form>


