:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100%;
  background-color: #1890ff;
}

.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
  padding: 10px 20px 10px 20px;
  width: 0;
}

.header-trigger {
  height: 60px;
  padding: 14px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 60px;
  padding-left: 10px;
  padding-right: 20px;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 64px;
  transition: all .3s;
}

.sidebar-menufold{
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar-profil{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-right: 10;
}
.sidebar-bell-fill, .sidebar-bell-name, nz-avatar-group{
  margin-top: auto;
  margin-bottom: auto;
margin-right: 10px;
}

.sidebar-bell-name{
  color: #fff;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  display: flex;
  position: relative;
  height: 60px;
  padding: 0;
  background: #1552A4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
 justify-content: space-between;
}
.app-header-box{
  display: flex;
}
nz-content {
  margin-top: 24px;
}


.inner-layout{
  background-color:  #F3F8FF;
}













.inner-content {
  background: #fff;
  height: 100%;
}

.nz-menu{
  padding-top: 20px;
 background-color: #F3F8FF;
 min-height: 90vh;
}
.menu-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu-texte{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: smaller;
}


