<nz-content >
    <div nz-row>
      <div class="content-header" nz-col nzSpan="24">
        <button class="content-header-button1" nz-button nzType="default" (click)="generalservice.showDialog = true" > Envoyer de l'argent <span class="span"><svg width="22" height="9" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.613 11.1219L31.0461 5.56097L25.613 0L24.5155 1.12332L28.0749 4.76655H0V6.3554H28.0749L24.5155 9.99863L25.613 11.1219Z" fill="white"/>
          </svg></span></button>
        <button class="content-header-button2" nz-button nzType="default"> Recevoir de l'argent <span class="span"><svg width="22" height="9" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.613 11.1219L31.0461 5.56097L25.613 0L24.5155 1.12332L28.0749 4.76655H0V6.3554H28.0749L24.5155 9.99863L25.613 11.1219Z" fill="#1552A4"/>
          </svg>
          </span></button>
       
      </div>
      
    </div>
    <div class="content-body" nz-row >
      <div class="content-body-1" nz-col nzSpan="12">
        <div class="content-body-1-box" nz-col nzSpan="24">
          <div class="content-body-1-box-pay" nz-col nzSpan="13">
          <app-compte></app-compte>
        </div>
        <div class="content-body-1-box-taux" nz-col nzSpan="10">
          <app-taux></app-taux>
        </div>
        </div>
        <div class="content-body-1-2" nz-col nzSpan="24">
          <app-graphe></app-graphe>       
        </div>
      </div>
      <div class="content-body-2" nz-col nzSpan="12">
      <app-historiques></app-historiques>
    </div>
    </div>
  </nz-content>