<div nz-col nzSpan="24">
    <p class="content-body-1-2-graph-title"> Graphe</p>
  </div>
  <div class="content-body-1-2-graph-title-1"nz-col nzSpan="24">
    <div>
    <button class="content-body-1-2-graph-envoyer" nz-button nzType="default"> Envoyer</button>
    <span class="content-body-1-2-graph-recus"> Recus</span>
  </div>
    <nz-select id="content-body-1-2-graph-annee" [nzBorderless]="true" ngModel="Annee">
      <nz-option nzValue="Annee" nzLabel="Annee"></nz-option>
      <nz-option nzValue="Annee" nzLabel="Annee"></nz-option>
    </nz-select>
  </div>