
    <p class="content-body-1-box-pay-title">Compte ArgroSfer Pay</p>
    <div class="content-body-1-box-pay-soldes">
    <p class="content-body-1-box-pay-solde">Solde de compte</p>
    <p class="content-body-1-box-pay-solde-1">2.003.568 XOF</p>
   </div>
    <div class="content-body-1-box-pay-solde-dernier">
     <div class="content-body-1-box-pay-solde-dernier-credits">
       <p class="content-body-1-box-pay-solde-dernier-credit">Dernier Crédit</p>
       <p class="content-body-1-box-pay-solde-dernier-credit-1">XOF 568.569</p>
     </div>
     <div class="content-body-1-box-pay-solde-dernier-debits">
       <p class="content-body-1-box-pay-solde-dernier-debit">Dernier débit</p>
       <p class="content-body-1-box-pay-solde-dernier-debit-1">XOF 136.201</p>
     </div>
    </div>
