

  .content-body-1-box-pay-title{
    margin-bottom: 20px;
    font-size: 10px;
   }
   
   .content-body-1-box-pay-solde{
     font-size: 10px;
     font-weight: bold;
   }
   
   
   .content-body-1-box-pay-solde-1{
     margin-top: -15px;
     font-size: 30px;
     font-weight: bolder;
   }
   
   .content-body-1-box-pay-solde-dernier{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   
   .content-body-1-box-pay-solde-dernier-credits{
     margin-top: -15px;
     text-align: left;
   }
   
   .content-body-1-box-pay-solde-dernier-debits{
     margin-top: -15px;
     text-align: right;
   }
   
   .content-body-1-box-pay-solde-dernier-credit,.content-body-1-box-pay-solde-dernier-debit{
     font-size: 10px;
     font-weight: bold;
   }
   
   .content-body-1-box-pay-solde-dernier-credit-1,.content-body-1-box-pay-solde-dernier-debit-1{
     margin-top: -10px;
     font-size: 15px;
     font-weight: bold;
   }